@tailwind base;
@tailwind components;
@tailwind utilities;
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.App {
  background-color: #f3f4f6;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
